@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('./fonts/RobotoSlab-Bold.ttf');
}

body {
    font-family: 'RobotoSlab-Bold';
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

header img {
    width: 100%;
}

a span.logo {
    font-family: 'RobotoSlab-Bold';
    font-size: 40px;
    color: black;
    display: block;
}

a span.subtitle {
    font-family: 'RobotoSlab-Bold';
    font-size: 11px;
    color: #979797;
    display: block;
    margin-top: 3px;
}

.nav-item {
    margin-left: 19px;
}

a.nav-link {
    color: white;
    font-family: 'RobotoSlab-Bold';
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 10px;
}

button.navbar-toggler {
    border: 1px solid red;
}

.navbar-toggler-icon {
    Background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.nav-link:hover {
    color: #1abb9c;
}

@media screen and (max-width: 991px) {
    .nav-item {
        margin-left: 0;
    }
}

.container {
    max-width: 1140px;
    margin: auto;
}

.container h1 {
    margin: 0px;
    float: left;
    color: black;
}

.container ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.container ul li {
    display: inline-block;
}

li.active a {
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.5s;
}

li.active a:hover {
    background-color: white;
    color: black;
}

#content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#content a {
    background-color: #3f8dbf;
    color: white;
    text-decoration: none;
    padding: 17px 26px;
    transition: all 0.2s;
}

#content a:hover {
    opacity: 0.6;
}

#content h1 {
    font-family: 'RobotoSlab-Bold';
    font-size: 40px;
    padding-bottom: 35px;
}

#content h3 {
    font-family: 'RobotoSlab-Bold';
    font-size: 32px;
    color: #a8a8a8;
    padding-bottom: 44px;
}

.row {
    text-align: center;
}

#row1 .col-md-3 {
    width: 300px;
    height: 335px;
    margin: 0px;
    padding: 0px;
    margin-left: 30px;
}

.col-md-3 p {
    font-family: 'RobotoSlab-Bold';
    font-size: 18px;
    margin: 0px;
    color: #4e4e4e;
    padding-bottom: 20px;
    padding-top: 31px;
}

.col-md-3 .text {
    font-family: 'RobotoSlab-Bold';
    font-size: 14px;
    margin: 0px;
    color: #616161;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 0px;
}

.container h1 {
    font-family: 'RobotoSlab-Bold';
    font-size: 18px;
    color: #4e4e4e;
}

#row2 img {
    padding-top: 20px;
}

#row2 .col-md-4 {
    border: none;
    width: 380px;
    height: 500px;
    text-align: left;
    padding-right: 30px;
    box-sizing: none;
    margin-right: 60px;
}

.col-md-4 p {
    font-family: 'RobotoSlab-Bold';
    font-size: 18px;
    margin: 0px;
    color: #4e4e4e;
    padding-bottom: 10px;
}

#row2 .text1 {
    font-family: 'RobotoSlab-Bold';
    font-size: 13px;
    margin: 0px;
    color: #a8a8a8;
    padding-bottom: 20px;
}

#row2 .text2 {
    font-family: 'RobotoSlab-Bold';
    font-size: 14px;
    margin: 0px;
    color: #5c5c5c;
}

.col-md-3 img {
    margin-top: 60px;
}