@font-face {
    font-family: 'Georgia Regular';
    src: url('./georgia/Georgia\ Regular\ font.ttf');
}

.container {
    max-width: 960px;
}

body {
    background-color: #3d585c;
}

header {
    font-family: 'Georgia Regular';
}

a span.logo {
    font-family: 'Georgia Regular';
    font-size: 46px;
    color: white;
    display: block;
}

a span.subtitle {
    font-family: 'Georgia Regular';
    font-size: 12px;
    color: #cccccc;
    display: block;
    margin-top: 4px;
}

.nav-item {
    margin-right: 5px;
    border-right: 1px solid #fcfcfc;
    padding-right: 5px;
}

.nav-item2 {
    margin-right: 0px;
    padding-right: 0px;
}

.nav-item2 a.nav-link {
    padding-right: 0px;
}

a.nav-link {
    color: #fcfcfc;
    font-family: 'Georgia Regular';
    font-size: 11px;
    text-transform: uppercase;
    padding: 0px !important;
}

.item li {
    display: inline-block;
}

.item ul {
    padding-right: 0px;
}

.item form {
    display: flex;
    margin: 0px;
    float: right;
}

form .search {
    border: none;
}

form .form {
    border-radius: 0px;
    border: none;
}

/* section */

#nav {
    font-family: 'Georgia Regular';
    background-color: #363636;
    font-size: 12px;
    padding-top: 19px;
    padding-bottom: 19px;
}

#right {
    margin: 0px;
}

.container ul li a {
    text-decoration: none;
    color: white;
    padding-right: 24px;
    margin: 0px;
}

.container ul li {
    display: inline-block;
}

.clearfix {
    clear: both;
}

#img1 {
    width: 100%;
}

#nav li a:hover {
    color: green;
}


#row1 {
    background-color: white;
}

.col-md-3 p {
    font-family: 'Georgia Regular';
    font-size: 18px;
    color: #660000;
    padding-top: 20px;
}

#row1 {
    margin: 0px;
}

#row1 .col-md-3 {
    padding-right: 0px;
    padding-left: 17px;
    padding-top: 35px;
    margin: 0px;
}

#row1 .col-md-3 img {
    border: 1px groove rgb(255, 255, 255);
    padding: 3px;
}

#row2 {
    margin: auto;
    width: 100%;
    border-top: 10px solid rgb(148, 148, 148);
    background-color: rgb(255, 255, 255);
}

#row2 .col-md-3 p {
    font-family: 'Georgia Regular';
    font-size: 18px;
    color: #666666;
    padding-top: 20px;
}

#row2 .col-md-3 img {
    border: 1px groove rgb(255, 255, 255);
    padding: 3px;
}

#row2 .col-md-6 .title {
    font-family: 'Georgia Regular';
    font-size: 18px;
    color: #666666;
    padding-top: 20px;
}

#row2 .col-md-6 .image {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

#row2 .col-md-6 .image .text {
    padding-left: 15px;
}

#row2 .col-md-6 .image img {
    border: 1px groove rgb(255, 255, 255);
    padding: 3px;
}


#row2 .col-md-6 .text1 {
    font-family: 'Georgia Regular';
    font-size: 16px;
    color: #660000;
}

#row2 .col-md-6 .text2 {
    font-family: 'Georgia Regular';
    font-size: 13px;
    color: #666666;
}

#row2 .col-md-6 a {
    font-family: 'Georgia Regular';
    font-size: 13px;
    color: #660000;
    text-decoration: none;
    float: right;
}

#row2 .col-md-3 .video {
    border: none;
}

#row2 .col-md-3 .text3 {
    font-family: 'Georgia Regular';
    font-size: 13px;
    color: #666666;
    padding-bottom: 55px;
}

#row2 .col-md-3 .text3 a {
    text-decoration: none;
    color: #660000;
}

/* footer */

footer .text4{
    width: 100%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 35px 30px 20px 30px;
    font-family: 'Georgia Regular';
    font-size: 18px;
    color: #666666;
}

.col-md-4 a {
    font-family: 'Georgia Regular';
    font-size: 13px;
    color: #660000;
    text-decoration: none;
    padding-left: 35px;
}

#link {
    margin: 0px;
}

#row3 .col-md-4 {
    margin: auto;
    background-color: #f2f2f2;
    padding: 0px;
    padding-bottom: 35px;
}

footer .row {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 0;
}

#copyright {
    background: #1a1a1a;
    padding: 20px 0;
    margin: auto;
    width: 100%;
}

#copyright p {
    margin: 0;
    color: #979797;
    font-family: 'Georgia Regular';
    font-size: 13px;
}

#copyright .col-md-6 {
    padding: 0px;
}

#copyright .col-md-6 .end1 {
    float: left;
    padding-left: 35px;
}

#copyright .col-md-6 .end2 {
    float: right;
    padding-right: 35px;
}
