* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Georgia Regular';
    src: url('./georgia/Georgia\ Regular\ font.ttf');
}

header {
    border-top: 5px solid #40aed7;
    padding: 43px 0;
    background-color: black;
}

a span.logo {
    font-family: 'Georgia Regular';
    font-size: 28px;
    color: white;
    display: block;
}

a span.subtitle {
    font-family: 'Georgia Regular';
    font-size: 11px;
    color: #979797;
    display: block;
    margin-top: 3px;
}

.nav-item {
    margin-left: 41px;
}

a.nav-link {
    color: white;
    font-family: 'Georgia Regular';
    font-size: 13px;
    text-transform: uppercase;
    padding: 13px 20px 12px !important;
    border-radius: 10px;
}

button.navbar-toggler {
    border: 1px solid red;
}

.navbar-toggler-icon {
    Background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.nav-link:hover {
    background-color: #40aed7;
    color: white;
}

@media screen and (max-width: 991px) {
    .nav-item {
        margin-left: 0;
    }
}

.text h1 {
    font-family: 'Georgia Regular';
    font-size: 124px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
}

#item2 {
    background-color: #40aed7;
    color: white;
}

#item2 p {
    color: white;
}

.row {
    text-align: center;
}

#row1 .col-md-3 {
    width: 225px;
    height: 305px;
    border: 1px groove black;
    margin-right: 20px;
    margin-top: 30px;
}

.col-md-3 h1 {
    font-family: 'Georgia Regular';
    font-size: 32px;
    margin: 0px;
    padding-top: 15px;
}

.col-md-3 p {
    font-family: 'Georgia Regular';
    font-size: 12px;
    margin: 0px;
    color: #979797;
}

img {
    padding-top: 21px;
}

.text2 {
    font-family: 'Georgia Regular';
    font-size: 124px;
    color: #d3d3d3;
    padding: 50px;
    margin-bottom: 0px;
}

#row2 img {
    padding-top: 0px;
}

#row2 .col-md-3 {
    width: 225px;
    height: 305px;
    border: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-top: 30px;
}

#row2 .col-md-3 h5 {
    font-family: 'Georgia Regular';
    font-size: 16px;
    margin: 0px;
    padding-top: 19px;
    padding-bottom: 37px;
    text-align: center;
}

#row2 .col-md-3 p {
    font-family: 'Georgia Regular';
    font-size: 13px;
    margin: 0px;
    color: #979797;
    text-align: left;
}

#row2 .col-md-3 a {
    color: #40aed7;
    font-family: 'Georgia Regular';
    font-size: 13px;
    float: right;
    padding-top: 12px;
    text-decoration: none;
}

footer {
    background-color: #2a2a2a;
    margin-top: 160px;
    height: 450px;
}

#row3 .col-md-3 {
    width: 225px;
    margin-right: 20px;
    padding-left: 0px;
}


#row3 .col-md-3 .p1 {
    padding-top: 40px;
    font-family: 'Georgia Regular';
    padding-bottom: 33px;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

#row3 .col-md-3 .p2 {
    font-family: 'Georgia Regular';
    color: #979797;
    font-size: 13px;
    padding-bottom: 17px;
    text-align: left;
}

#row3 .col-md-3 .p3 a {
    font-family: 'Georgia Regular';
    text-decoration: none;
    color: #3fadd7;
}

#row3 .col-md-3 .p3 {
    font-family: 'Georgia Regular';
    color: #40aed7;
    font-size: 10px;
    color: #666666;
    padding-bottom: 12px;
    text-align: left;
}

#row3 .col-md-3 .p4 {
    font-family: 'Georgia Regular';
    font-size: 10px;
    color: #979797;
    padding-bottom: 15px;
    text-align: left;
}

#row3 .col-md-3 .p5 {
    font-family: 'Georgia Regular';
    font-size: 13px;
    margin: 0px;
    color: #979797;
    text-align: left;
}

#row3 .col-md-3 a {
    font-family: 'Georgia Regular';
    text-decoration: none;
    color: #40aed7;
}

#link {
    border-bottom: 1px groove #979797;
    float: left;
    font-family: 'Georgia Regular';
    text-decoration: none;
    color: #40aed7;
    font-size: 13px;
    padding-left: 0px;
    padding-top: 10px;
}

#link2 {
    font-family: 'Georgia Regular';
    color: #40aed7;
    font-size: 13px;
    color: #666666;
    padding-bottom: 5px;
    text-align: left;
    padding-top: 8px;
}

.form-control {
    background-color: black;
    border: none;
}

#message {
    padding-bottom: 51px;
}

#row3 .col-md-3 button {
    float: left;
}

#copyright {
    background: #1a1a1a;
    padding: 20px 0;
}

#copyright p {
    margin: 0;
    color: #979797;
    font-family: 'Georgia Regular';
    font-size: 13px;
}

#copyright .col-md-6 {
    padding: 0px;
}

#copyright .col-md-6 .end1 {
    float: left;
}

#copyright .col-md-6 .end2 {
    float: right;
}

.col-md-3 img {
    margin-top: 60px;
}