/**
Common attributes
**/
.btn {
    background-color: #3bafbe;
    border-radius: 12px;
    color: white;
    padding: 7px 9px;
    border: 1px solid transparent;
    font-size: 12px;
}

.btn:focus {
    box-shadow: none;
}

.input {
    background-color: #333333;
    border-radius: 12px;
    outline: none;
    color: white;
    border: none;
    font-size: 12px;
}

.custom-toggler {
    border: 1px solid gray;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='grey' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9b9187;
}

body {
    font-family: 'Merriweather';
}

/* Header */
header {
    border-top: 5px solid #3bafbe;
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e2;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul#socials li {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #1f1f1f;
}

header ul#socials li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
}

header ul#socials li a:hover {
    color: #3bafbe;
    text-decoration: none;
}

.search_form {
    display: flex;
    justify-content: flex-end;
}

.search_form form {
    display: flex;
}

.search_form input {
    padding: 7px 9px 7px 9px;
}

.search_form button[type="submit"] {
    margin-left: 4px;
}

.navbar {
    padding: 0;
}

.navbar-nav a {
    color: #999999;
    margin-left: 12px;
}

.nav-link:hover {
    color: #3bafbe;
}

/* Slider */
#slider {
    padding: 51px 0;
    border-bottom: 1px solid #e2e2e2;
}

.slideshow {
    display: flex;
    align-items: center;
}

.slider-content h1 {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.slider-content p {
    line-height: 22.4px;
    margin: 0;
    margin-bottom: 35px;
}

/* Posts */
#posts {
    padding: 51px 0;
    border-bottom: 1px solid #e2e2e2;
}

#posts img {
    width: 100%;
    height: 160px;
    background-color: #353535;
    margin-bottom: 32px;
}

#posts h2 {
    margin-bottom: 24px;
}

#posts p {
    margin-bottom: 22px;
    color: #999999;
}

/* Promotions */
#services {
    padding: 51px 0;
}

.promotions {
    margin-bottom: 52px;
}

.services-item {
    display: flex;
}

.services-item img {
    align-self: flex-start;
}

/* Services */
#services h1 {
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

#services img {
    margin-right: 10px;
}

#services h4 {
    font-size: 13px;
    color: #3bafbe;
}

#services p {
    font-size: 12px;
}



.second-services {
    margin-top: 41px;
}



/* Footer */
#footer_area {
    background: #252525;
    padding: 40px 0;
    color: #fff;
}

#footer_area h3 {
    font-size: 20px;
}

#footer_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer_area ul li {
    display: block;
    margin-bottom: 5px;
}

#footer_area ul li a {
    color: #3bafbe;
    padding: 5px;
    display: block;
}

#footer_area input {
    margin-bottom: 10px;
    width: 100%;
    padding: 7px 9px 7px 9px;
}

/* Copyright */
#copyright {
    background: #1a1a1a;
    padding: 20px 0;
    color: #fff;
}

#copyright p {
    margin: 0;
}

#copyright .col-md-6:last-child {
    text-align: right;
}

/* Media query */
@media screen and (max-width: 768px) {
    #copyright p {
        text-align: center;
    }

    #slider {
        text-align: center;
    }

    #posts .row .col-md-4 {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-nav a {
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    header ul {
        text-align: center;
        float: none;
    }

    .search_form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}