.container {
    padding: 0
}

header {
    background-image: url('/CD3/Lab5/header.jpg');
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.title {
    margin: auto;
    padding: 30px;
}

@media screen and (max-width: 992px) {
    #sign-in {
        display: none;
    }
}



#box {
    border: 1px solid #000;
    margin: auto;
}