body {
    background-color:  #e9ecef;
}

header {
    height: 5px;
    background-color: black;
}

section {
    margin: auto;
    text-align: center;
}

button {
    width: 100px;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 15px;
    border: 1px solid white;
    border-radius: 10px;
    width: 170px;
}

input {
    padding: 8px;
    margin: 15px;
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;
}

.col-md-2 {
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 15px;
}

footer {
    margin: auto;
    text-align: center;
}

p {
    margin-top: 20px;
}

ion-icon {
    font-size: 60px;
}

.header ion-icon {
    font-size: 200px;
}