header {
    background-color: lightgray;
    width: 100%;
    height: 60px;
}

nav {
    clear: both;
    margin: auto;
    max-width: 1000px;
}

nav #left li {
    float: left;
    border-left: 1px solid black;
}

nav #right {
    float: right;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

ul li {
    display: inline-block;
    font-size: 18px;
}

ul li a {
    padding: 19px;
    display: inline-block;

}

#left li a:hover {
    background: yellow;
}

.text1 {
    max-width: 1000px;
    margin: auto;
}

.text2 {
    max-width: 1000px;
    margin: auto;
}