body {
    background-color: #FEF3E5;
}

.clearfix {
    clear: both;
}

.content {
    background-color: white;
    width: 85%;
    margin: auto;
}

.article {
    padding: 12px 5px;
    border-bottom: 1px solid black;
}

.article.bottom {
    border-bottom: none;
}

.left {
    width: 70%;
    float: left;
}

.right {
    float: right;
    width: 30%;
}

.right h2 {
    margin: 0 7px;
    padding: 12px 0;
}


#sidebar1 {
    background-color: #ffffcc;
}

#sidebar2 {
    background-color: #ffeeee;
}

#sidebar3 {
    background-color: #CCffff;
}