body {
    background-repeat: repeat;
    background-color: chocolate;
    font-family: Verdana;
}

nav {
    width: 75%;
    background-color: pink;
    margin: auto;
    padding: 15px;
    border: 1px #000 solid;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    background-color: yellow;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: blueviolet;
    color: red;
    text-decoration: none;
}

h1 {
    font-family: Arial;
    color: red;
}

h2 {
    font-family: Courier New;
    color: white;
}

.bai1 {
    text-align: center;
    background-color: yellow;
    border: 1px dotted #000;
}

#bai2 {
    width: 50%;
    background-color: cornsilk;
    border: 3px dotted #000;
    margin: 15px auto;
    padding: 15px;
}

#bai2 p.deadline {
    text-align: center;
}

#footer {
    width: 200px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #0ff;
    text-align: center;
}

#footer p {
    font-style: italic;
    margin: 0;
}