body {
    background-color: rgb(195, 222, 222);
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

#form {
    background-color: white;
    width: 92%;
    margin: auto;
    padding: 15px;
}

.form-group {
    padding: 10px 0;
}

.form-label {
    float: left;
    width: calc(50% - 10px);
    text-align: right;
}

.form-control {
    float: right;
    width: calc(50% - 10px);
}

.submit {
    text-align: center;
}
button {
    background-color: rgb(86, 189, 230);
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#text input {
    padding-bottom: 20px;
}