body {
    font-family: 'Lora', sans-serif;
}

header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./header.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    position: relative;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.container h1 {
    margin: 0px;
    float: left;
    color: white;
}

#right {
    float: right;
}

.container ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.container ul li {
    display: inline-block;
}


.clearfix {
    clear: both;
}

li.active a {
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.5s;
}

li.active a:hover {
    background-color: white;
    color: black;
}

#content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#content a {
    background-color: rgb(54, 179, 168);
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.2s;
}
#content a:hover {
    opacity: 0.6;
}

#content h1{
    font-size: 80px;
}

section {
    padding: 100px 0px;
}

section #conserve {
    text-align: center;
    margin-bottom: 125px;
    font-family: 'Open Sans', sans-serif;
}

section #conserve h1 {
    font-size: 28px;
    color: rgba(26, 26, 26, .9);
    font-weight: bold;
    line-height: 36px;
}

section #conserve p {
    width: 60%;
    margin: auto;
    line-height: 36px;
    margin-top: 16px;  
    color: rgba(26, 26, 26, .7);
}

#conserve-album {
    max-width: 1140px;
    margin: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}

.conserve-img {
    width: calc((1140px - 30px) / 2);
}

.conserve-img img {
    background-position: center;
    width: 100%;
}

.conserve-content {
    text-align: center;
    margin-top: 24px;
}

.conserve-img h1 {
    letter-spacing: 2px;
    color: rgb(61, 153, 145);
    font-size: 1.5em;
    font-weight: bold;
}

.conserve-img p {
    line-height: 36px;
    margin-top: 24px;
}

footer {
    background-color: black;
    text-align: center;
    padding: 75px 0;
}

footer h1 {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}

footer p {
    color: white;
    opacity: 0.5;
    margin-top: 16px;
}